@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

*{
  padding: 0;
  margin: 0;
}
.navbar{
  background-color: #186485;
  width: 100%;
  padding: 20px;
  color: white;
  align-items: center;
  font-family: 'IM Fell Great Primer SC', serif;
  letter-spacing: 3px;
  font-size: large;
}
.navbar-container{
  display: flex;
  justify-content:space-between;
}
.left-side{
  justify-content: start;
}
.right-side{
  justify-content: right;
  display: flex;
}
.components{
  display: flex;
}
.left-side-components{
  display: flex;
  justify-content: column;
  align-items: center;
  margin-left: 50px;
}
.left-side-components img{
  width: 50px;
}
.left-side-components p{
  margin-left: 20px;
}
.right-side-components{
  display: flex;
  justify-content: column;
  align-items: center;
  margin-right: 80px;
}
.right-side-components img{
  width: 50px;
}
.right-side-components p{
  margin-left: 20px;
}
/*styling the header*/
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 80px;
  letter-spacing: 2px;
}
.header-left-side-components{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.header-left-side-components .header-p{
  font-size: 35px;
  font-family: 'IM Fell Great Primer SC', serif;
  letter-spacing: 20%;
}
.header-left-side-components .start-p{
  font-size: 27px;
   margin-top: 40px;
   color: #413737;
   letter-spacing: 3px;
}

.header-right-side-components{
  display: flex;
  justify-content: column;
  align-items: center;
  margin-right: 90px;
}
.header-right-side-components img{
  width: 600px;
  padding-left: 55px;
}
.buttons-styling{
  margin-top: 30px;
  display: flex;
}
.buttons-styling button{
  margin-top: 10px;
  margin-right: 50px;
  width: 230px;
  height: 50px;
  font-family: 'IM Fell Great Primer SC', serif;
  box-shadow: 3px 5px 7px 1px #807e7e;
}
.button1{
  background-color: #186485;
  border: none;
  color: white;
  letter-spacing: 2px;
}
.button2{
  border: 4px solid #186485;
  background-color: white;
  color: #186485;
  font-family: 'IM Fell Great Primer SC', serif;
  letter-spacing: 2px;
}
.students-section{
  background-color: #F4F3F3;
  display: flex;
  padding: 50px;
  justify-content: center;
}
.students-section div{
  font-size: 25px;
  text-align: center;
  font-family: 'IM Fell Great Primer SC', serif;
  letter-spacing: 3px;
}
.students-imgs {
  display: flex;
  gap: 190px;
}
.students-imgs img{
  width: 170px;
  margin-top: 30px;
}
.p-style{
 margin-left: 70px; 
 letter-spacing: 3px;
 font-family: 'IM Fell Great Primer SC', serif;
 font-size: 30px;
 color: #565252;
}
.white-btn{
  display: flex;
  flex-direction: row-reverse;
}
.right-display{
  margin-top: 140px;
  display: flex;
  flex-direction: column;
}
.white-btn{
  margin-top: 50px;
  margin-right: 1px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}
.white-btn .button2{
  padding: 20px;
  font-size: 35px;
}
.footer-items div{
  margin-bottom: 20px;
  font-size: 20px;
}
.footer-icons{
  gap: 20px;
  display: flex;
  margin-left: 110px;
}
.signup-layout{
  display: flex;
  letter-spacing: 3px;
  font-family: 'IM Fell Great Primer SC', serif;
}
.left-display{
  background-color: #186485;
  height: 100vh;
}
.left-display .signup-text{
  color: white;
  margin-left: 135px;
  margin-top: 25px;
}
.left-display img{
  width: 350px;
  height: 350px;
  padding-left: 50px;
  padding-top: 130px;
  padding-right: 80px;
}
.right-display{
  background-color: none;
  height: 70vh;
  margin-left: 120px;
  padding: 10px;
}
.right-display .welcome{
  font-size: 30px;
}
.right-display label{
  padding: 20px;
  margin-top: 30px;
}
.right-display input{
  padding: 8px;
  border: none;
  border-bottom: 1px solid #807e7e;
  font-size: large;
}
.right-display input:focus{
  outline: none;
  border-bottom: 1px solid #186485;
}
.signup-btn{
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 15px;
  background-color: #6A6464;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 15px;
}
@media(max-width: 500px){
  .navbar {
    background-color: #186485;
    font-family: 'IM Fell Great Primer SC', serif;
    letter-spacing: 2px;
    font-size: small;
}

}